.menu {
  width: 450px;
  height: 100vh;
  background-color: #06283D;
  position: fixed;
  top: 0;
  right: -600px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 300;
  color: white;
  width: 80%;
}

.menu ul li{
    margin-bottom: 30px;
}

.menu ul li a{
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.menu ul li:hover{
    font-weight: 500;
}

.activeMenu {
    right: 0;
}

@media only screen and (max-width: 420px) {
  .menu ul {
    font-size: 25px;
    margin-left: 150px;
  }
}